.final {
   margin: 0;
   padding: 0%;
    background: #00031e;
    width: 100%;
  
  box-sizing: border-box;
  display: flex;
  
}
.last {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   padding-left: 30%;
   padding-top: 10%;
   padding-bottom: 4%;
}
.free {
    
    background: -webkit-linear-gradient(45deg,rgb(177, 30, 221) , rgb(17, 212, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email {
    margin: 0px 20px 20px ;
    text-decoration: none;
    color: gray;

}

.my {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my > ion-icon {
    margin: 0px 10px 10px 0px;
    width: 20px;
    height: 20px;
}