.card {
    margin: 0;
  padding:0;
  width:100%;
  height: 80vh;
  background: #00031e;
  
  box-sizing: border-box;
  display: flex;
  
  
}


.circle-card {
  border: 1.5px solid transparent;
  border-radius: 10%;
  background: 
    linear-gradient(to right, #00031e,#00031e), 
    linear-gradient(45deg,rgb(177, 30, 221) , rgb(17, 212, 247)); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  4px 5px 10px 3px rgba(154, 216, 240, 0.3);
  
  /* Other styles */
  width: 440px;
  height: 440px;
  margin: 7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  
  
   
 }
 
 .image-pro {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
   width: 400px;
   height: 200px;
   border-radius: 30px;
   align-self: center;
   
 }
 .name-pro {
    font-size: 25px;
   text-align: center;
 }
 .stack{
  color: gray;
  font-size: 20px;
  text-align: center;
 }

 .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

 .button-1 {
  width: 150px;
  height: 50px;
   border-radius: 25px;
  background: linear-gradient(45deg,rgb(177, 30, 221) , rgb(17, 212, 247));
  color: white;
  border: none;
  box-shadow:  0px 5px 10px 3px rgba(154, 216, 240, 0.3);
  cursor: pointer;
 }
.button-2 {
  width: 150px;
    height: 50px;
     border-radius: 25px;
    background: transparent;
    color: white;
    border: 3px solid white;
    box-shadow:  0px 5px 10px 3px rgba(154, 216, 240, 0.3);
    cursor: pointer;
    
}
 
@media screen and (max-width:600px) {
  .card {
    width: 100%;
    height: auto;
  }
  .circle-card {
    width: 300px;
    height: 400px;
  }
  .image-pro {
    width: 290px;
    height: 150px;
  }

  .button-1 , .button-2 {
    width: 110px;
    height: 44px;
  }
}