.final {
   margin: 0;
   padding: 0;
    background: #00031e;
    width: 100%;
    height: 30vh;
  
    
    
  
  box-sizing: border-box;
 
  bottom: 0;
  
  
}


  
.last {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7%;
    margin-bottom: 2%;
    z-index: 2;
    
    overflow: hidden;
    
}
section {
    top: 0;
    position: relative;
    height:10vh;
    width: 100%;
    
    background-color: #00031e;
   
    
    
  }
  

  .curve {
    position: absolute;
    top:10vh;
    left: 0;
    height: 100px;
    width: 100%;
    background: #00031e url('../wavetop.png');
    
    background-size: 2000px 100px;
    animation: ani_wave 5s linear infinite;
  }

  @keyframes ani_wave {
    0% {
        background-position-x: 2000px;
    }
    100% {
        background-position-x: 0;
    }
  }

.free {
    
    background: -webkit-linear-gradient(45deg,rgb(177, 30, 221) , rgb(17, 212, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.last-two {
    
    text-align: center;
}
.email {
    text-align: center;
    margin: 0px 10px 10px ;
    text-decoration: none;
    color: rgb(101, 99, 99);

}
.email:hover {
    color: white;
}

.my {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my > * {
    margin: 0px 20px 15px 0px;
    width: 20px;
    height: 20px;

}

@media screen and (max-width:600px) {
    .final {
        width: 100%;
        height: auto;
      
       
        

       
    }
    .last {
       
         
        flex-direction: column;
        justify-content: center;
    }
     .last > * {
       
        text-align: center;
        margin-bottom: 15px;
        
     }
     .email {
        
        
     }
     .my {
        justify-content: space-evenly;
     }

    
}
