.project {
    margin: 0;
    padding:0;
    width:100%;
    height: 100vh;
    background: #00031e;
    
    box-sizing: border-box;
    margin-bottom: 40px;
    
    
    

}

h2{  
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
}

.content {
    margin-left: 3px;
    justify-content: center;
    
    display: grid;
    
     grid-template-columns: 470px 470px 470px;
    grid-template-rows: auto; 
    
    
   
 
   
    
}
.content > * {
   
}

@media screen and (max-width:600px) {
    .content {
        width: 100%;
        /* padding: -10%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
    .content >* {
        justify-content: center;
    }
}